<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Http Client practice homepage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<h2 style="text-align: center; margin-top: 20px">Weather App in Spring</h2><br>
<p style="text-align: center"> &nbsp;
    <a href="/weather-gui/"><button type="button" class="btn btn-outline-primary">Weather</button></a></p>
</body>
</html>
